<!DOCTYPE html>
<html>
    <head>
        <title>Today's Hot News</title>
        <meta http-equiv="refresh" content="5" >
        <link rel="stylesheet" href="./static/style.css" />

    </head>
    <body>
        <section class="header">
            <h1>Hello, {{SearchingBy}} </h1>
            <h2 class="topic">Here is  today's Hot News</h2>
            <h3>We have {{resultsNumber}} important newses for you</h3>
            <h2 class= "today">{{today}}</h3>
        </section>
        <table class="table">
            <tr class = "table__header">
                <th>Title</th>
                <th>Details</th>
            </tr>
            {% for row in headline_list %}
            <tr class = "table__row">
                {% for cell in row %}
                <td class = "table__cell">
                    {{ cell }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </body> 
</html>
